---
import Base from '@/layout/Base.astro'
import { PixelartPlantRect } from '@/components/preact/plant-pixelart'
import { getPosts } from '@/tags'

const posts = await getPosts()
const recentPosts = posts
    .filter(post => !post.data.draft)
    // sort by .data.publish_date that is in format "YYYY/MM/DD"
    .sort((a, b) => new Date(b.data.publish_date).getTime() - new Date(a.data.publish_date).getTime())
    .slice(0, 3)
---

<Base>
    <h1 slot="header-title">Website</h1>
    <main class="content wide">
        <div class="text">
            <h2>
                <a href="/blog">Blog</a>
            </h2>
            <p>
                Here I talk about random stuff I work on from my Maths studies, tech talks I gave with GDG Pisa or other
                groups in Pisa. Or even random little side projects.
            </p>
        </div>
        <h3>Recent Posts</h3>
        <div class="blog-grid">
            {
                recentPosts.map(post => (
                    <a class="blog-item" href={`/blog/${post.id}`}>
                        <div class="title">{post.data.title}</div>
                        <div class="description">{post.data.description}</div>
                        <div class="tags">
                            {post.data.tags.map(tag => (
                                <span class="tag">{tag}</span>
                            ))}
                        </div>
                    </a>
                ))
            }
        </div>
        <div class="art-separator" style="width: 80ch; margin: 3rem 0 2.25rem;">
            <PixelartPlantRect
                client:visible
                updateInterval={10}
                stopTimeout={5000}
                height={5 * 10}
                options={{ cellColor: 'hsl(266, 100%, 70%)', spawnLocation: 'top' }}
            />
        </div>

        <div class="text">
            <h2>
                <a href="/art">Art</a>
            </h2>
            <p>Sometimes I also so some procedural art stuff as you can see from this shiny new website design.</p>
        </div>
        <h3>Main works</h3>
        <div class="blog-grid">
            {
                recentPosts.map(post => (
                    <a class="blog-item" href={`/blog/${post.id}`}>
                        <div class="title">{post.data.title}</div>
                        <div class="description">{post.data.description}</div>
                        <div class="tags">
                            {post.data.tags.map(tag => (
                                <span class="tag">{tag}</span>
                            ))}
                        </div>
                    </a>
                ))
            }
        </div>
        <div class="art-separator" style="width: 80ch; margin: 3rem 0 2.25rem;">
            <PixelartPlantRect
                client:visible
                updateInterval={10}
                stopTimeout={5000}
                height={5 * 10}
                options={{ cellColor: 'hsl(266, 100%, 70%)', spawnLocation: 'top' }}
            />
        </div>

        <div class="text">
            <h2>
                <a href="/projects">Projects</a>
            </h2>
            <p>
                <!-- This <a href="/projects">/projects</a> section is for stuff I have worked on or I am still actively building. -->
                <!-- Older projects here are considered mostly finished. -->

                Here I collect some of the projects I have worked on or I am still actively building. Some of them are
                also open source and you can find them on my <a href="https://github.com/aziis98">GitHub</a> or on the PHC
                <a href="https://git.phc.dm.unipi.it/aziis98">Gitea</a> instance.
            </p>
        </div>
        <div class="blog-grid">
            {
                recentPosts.map(post => (
                    <a class="blog-item" href={`/blog/${post.id}`}>
                        <div class="title">{post.data.title}</div>
                        <div class="description">{post.data.description}</div>
                        <div class="tags">
                            {post.data.tags.map(tag => (
                                <span class="tag">{tag}</span>
                            ))}
                        </div>
                    </a>
                ))
            }
        </div>
    </main>

    <!-- <div class="art" style="width: 100%; max-width: 52rem; height: 4rem;">
        <PixelartPlantRect client:visible />
    </div>

    <main></main> -->

    <!-- <script>
        import { decorateHeadings } from '@/components/preact/plant-pixelart'

        decorateHeadings()
    </script> -->
</Base>
